body {
    font-family: Montserrat;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #ffeedb;
}

.navbar-brand {
    font-size: 2rem;
    font-family: Lora;
    font-weight: bold;
    font-family: Lora;
    color: #dc3545 !important;
}

.nav-link {
    margin: 0 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.jumbotron {
    background-image: url('../images/Group\ 12.png');
    height: 500px;
    margin-top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron p,
.jumbotron h1 {
    text-shadow: 3px 3px 10px black;
    color: #f04455;
}

.jumbotron .btn {
    background-color: #dc3545;
}

.jumbotron .btn:hover {
    background-color: #f04455;
}

.mybio h3 {
    color: #f04455;
}

.mybio h6 {
    color: #f04455;
}

.contact {
    background-color: #2e2e2e;
}

.contact h3 {
    color: #f04455;
}

.card {
    background-color: #2e2e2e;
    border-color: #f04455;
    color: white;
}

.card button {
    background-color: #f04455;
    color: white;
}